.programs-page {
  background: #000;
  color: #ccc;
  padding: 90px 60px;
  text-align: center;
}

.programs-page h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}

.subtitle {
  margin-bottom: 60px;
  color: #aaa;
}

.programs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.program-card {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

.program-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.program-card h3 {
  color: #e6ff28;
  margin-bottom: 15px;
}

.program-card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.program-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.program-card ul li {
  color: #f5c400;
  margin-bottom: 6px;
}

.program-card a {
  display: inline-block;
  background: #e6ff28;
  color: rgb(0, 0, 0);
  padding: 10px 18px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .programs-page {
    padding: 60px 30px;
  }
}
