.contact {
  background: #000;
  color: #ccc;
  padding: 90px 60px;
}

.contact h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
  color: white;
}

.contact-container {
  display: flex;
  gap: 60px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-info h3,
.contact-form h3 {
  color: white;
  margin-bottom: 20px;
}

.contact-info a {
  color: #f5c400;
  text-decoration: none;
}

.timings,
.batches {
  margin-top: 30px;
}

.batches ul {
  list-style: none;
  padding: 0;
}

.batches li {
  margin-bottom: 6px;
  color: #f5c400;
}

/* FORM */
.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  background: #1c1c1c;
  border: none;
  padding: 14px;
  margin-bottom: 15px;
  color: white;
}

.contact-form button {
  background: red;
  color: white;
  border: none;
  padding: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* MAP */
.map {
  margin-top: 60px;
  height: 350px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }

  .contact {
    padding: 60px 30px;
  }
}
