.navbar {
  background: #000;
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, letter-spacing 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  letter-spacing: 0.2px;
}

/* logo color */
.orange { color:#e6ff28; }
.white { color: #ffffff; }

.navbar :hover {
    color: #e6ff28;
}

.navbar ul li a.active {
  color: #bcff00;        /* yellow */
  border-bottom: 2px solid rgb(255, 255, 255);
}
