/* whatsapp foating button css */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 28px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
